<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".base.BaseApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/launcher"
        android:label="遇见"
        android:roundIcon="@mipmap/launch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".service.CloudService"
            android:enabled="true"
            android:exported="true" />
        <!-- 添加ContentProvider信息 -->
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.example.meet.BmobContentProvider" />

        <activity
            android:name=".test.TestActivity"
            android:exported="true"></activity> <!-- oppo -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 小米适配 -->

        <activity
            android:name=".ui.FirstUploadActivity"
            android:exported="true">
         </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.GuideActivity"
            android:exported="true"
            android:theme="@style/AppThemeFull">

        </activity>
        <activity
            android:name=".ui.IndexActivity"
            android:exported="true"
            android:theme="@style/AppThemeFull">


        </activity> <!-- 主页 -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>
    </application>

</manifest>